@font-face
  font-family Calibri
  font-style normal
  src url('~@/assets/fonts/Calibri.ttf')

@font-face
  font-family OpenSans
  font-style normal
  src url('~@/assets/fonts/OpenSans/OpenSans-Regular.ttf')

@font-face
  font-family OpenSans-Light
  font-style normal
  src url('~@/assets/fonts/OpenSans/OpenSans-Light.ttf')

@font-face
  font-family OpenSans-Bold
  font-style normal
  src url('~@/assets/fonts/OpenSans/OpenSans-Bold.ttf')

@font-face
  font-family Manrope
  font-style normal
  src url('~@/assets/fonts/Manrope/Manrope-Regular.ttf')

@font-face
  font-family Manrope-Bold
  font-style normal
  src url('~@/assets/fonts/Manrope/Manrope-Bold.ttf')

@font-face
  font-family Rubik
  font-style normal
  src url('~@/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf')
