no-select()
    -webkit-touch-callout none // iOS Safari
    -webkit-user-select none   // Safari
    -khtml-user-select none    // Konqueror HTML
    -moz-user-select none      // Old versions of Firefox
    -ms-user-select none       // Internet Explorer/Edge
        user-select none       // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox

nowrap()
    white-space nowrap
    white-space pre

gold-background()
    background-image: url('../assets/images/university-students-doing-group-study-2022-02-02-05-05-15-utc 1.png')//url('../assets/images/frame.png')
    background-size     cover
    background-repeat   no-repeat
    background-position right
    background-color info
    height 100%
    min-height "calc(100vh - %s)" % topbar-height
    padding 30px 7.5%

    @media (max-width: sm)
        padding 20px 5%
        min-height "calc(100vh - %s)" % (topbar-height * topbar-sm-resize)